{% extends 'base_b53.html' %}
{% from 'f.j2' import nav %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {{ nav() }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td scope="col">ID</td>
                    <td scope="col">First Name</td>
                    <td scope="col">Last Name</td>
                    <td scope="col">Notes</td>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for row in data %}
                <tr>
                    <td scope="row">{{ row.id }}</td>
                    <td>{{ row.firstname }}</td>
                    <td>{{ row.lastname }}</td>
                    <td>{{ row.notes }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}